@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffd4a3;
    --foreground: #1a1a1a;
    --card: #ffffff;
    --card-foreground: #1a1a1a;
    --popover: #ffffff;
    --popover-foreground: #1a1a1a;
    --primary: #544e68;
    --primary-foreground: #203c56;
    --primary-background: #0d2b45;
    --secondary: #d08159;
    --secondary-foreground: #ffaa5e;
    --muted: #f4f4f4;
    --muted-foreground: #767676;
    --accent: #f4f4f4;
    --accent-foreground: #1a1a1a;
    --destructive: #ff0000;
    --destructive-foreground: #fcfcfc;
    --border: #e6e6e6;
    --input: #e6e6e6;
    --ring: #5b5b5b;
    --radius: 0.5rem;
  }

  .dark {
    --background: #ffd4a3;
    --foreground: #fcfcfc;
    --card: #1a1a1a;
    --card-foreground: #fcfcfc;
    --popover: #1a1a1a;
    --popover-foreground: #fcfcfc;
    --primary: #544e68;
    --primary-foreground: #203c56;
    --primary-background: #0d2b45;
    --secondary: #d08159;
    --secondary-foreground: #ffaa5e;
    --muted: #81b29a;
    --muted-foreground: #a3a3a3;
    --accent: #404040;
    --accent-foreground: #fcfcfc;
    --destructive: #9e1c1c;
    --destructive-foreground: #dafff7;
    --border: #f2cc8f;
    --input: #f2cc8f;
    --ring: #1a1a1a;
  }
}
