@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1a1a1a;
    --card: #ffffff;
    --card-foreground: #1a1a1a;
    --popover: #ffffff;
    --popover-foreground: #1a1a1a;
    --primary: #3d405b;
    --primary-foreground: #331515;
    --secondary: #f4f4f4;
    --secondary-foreground: #1a1a1a;
    --muted: #f4f4f4;
    --muted-foreground: #767676;
    --accent: #f4f4f4;
    --accent-foreground: #1a1a1a;
    --destructive: #ff0000;
    --destructive-foreground: #fcfcfc;
    --border: #e6e6e6;
    --input: #e6e6e6;
    --ring: #5b5b5b;
    --radius: 0.5rem;
  }

  .dark {
    --background: #3d405b;
    --foreground: #fcfcfc;
    --card: #1a1a1a;
    --card-foreground: #fcfcfc;
    --popover: #1a1a1a;
    --popover-foreground: #fcfcfc;
    --primary: #e07a5f;
    --primary-foreground: #331515;
    --secondary: #404040;
    --secondary-foreground: #fcfcfc;
    --muted: #81b29a;
    --muted-foreground: #a3a3a3;
    --accent: #404040;
    --accent-foreground: #fcfcfc;
    --destructive: #9e1c1c;
    --destructive-foreground: #dafff7;
    --border: #f2cc8f;
    --input: #f2cc8f;
    --ring: #1a1a1a;
  }
}
